@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Roboto+Slab&display=swap');


body{
    background-image: url("../images/bg.svg");
    background-attachment: fixed;
    background-color: black;
    color: white;
}

.nav-container{
    display: flex;
    margin: 0 10%;
    align-items: center;
    justify-content: space-between;
    font-family: Geologica;
    color: #f3cd74;
}

#nav-logo{
    cursor: default;
}

#nav-links li{
    display: inline-block;
    list-style: none;
    margin-right: 4vw;
}

#nav-links a{
    text-decoration: none;
    color: white;
}

#nav-links a:hover{
    transition: 100ms ease-in;
    color: #f3cd74;
}


.hero-container{
    display: flex;
    margin: 0 10%;
    font-family: Geologica;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#hero-head{
    flex: 1;
    font-size: 2rem;
    position: relative;
    bottom: 50px;
    cursor: default;
}

#hero-head h1{
    color: #f3cd74;
    margin: 0;
}

#hero-subhead p{
    font-family: "Roboto Slab";
    margin: 0;
}

#hero-subhead span{
    text-decoration: underline;
}

#hero-img{
    flex: 1;
}

#hero-img img{
    width: 100%;
    height: 100%;
}

.summ-container{
    margin: 0 10%;
    color: #f3cd74;
    font-family: Geologica;
    font-size: 1.5rem;
    height: 90vh;
}

.summ-container h1{
    margin: 10% 0 0 0;
    padding: 0;
}

#summ-text{
    color: white;
    font-family: "Roboto Slab";
    text-align: left;
    font-size: 1.4rem;
}